In [1]:
#Data Cleaning Demo Project
#The steps for data cleaning are:
#Import Data 
#Handling Missing Values
#Cleaning & Trimming rows

In [2]:
#import libraries
import pandas as pd
import numpy as np

In [7]:
my_data = pd.read_csv("/Users/yamanjoshi/Downloads/Project Spring 2025/archive/PRICES-STOCK.csv", sep = '|')

In [8]:
my_data

            SKU BRANCH  PRICE  STOCK
0        142308    HRO   45.6      3
1        223240   RHSM   15.3      5
2         49514   RHSM   56.7     -2
3        111807   RHSM   48.0     -4
4        223543     MS    8.7     -1
...         ...    ...    ...    ...
2296762  243017    HRO   73.2      4
2296763  185713     MS   85.5      2
2296764  296517   RHSM   59.4      3
2296765   52814     MS   23.7     -1
2296766  196940     MM    4.5      5

[2296767 rows x 4 columns]

In [9]:
my_data.head()

      SKU BRANCH  PRICE  STOCK
0  142308    HRO   45.6      3
1  223240   RHSM   15.3      5
2   49514   RHSM   56.7     -2
3  111807   RHSM   48.0     -4
4  223543     MS    8.7     -1

In [13]:
#Check null cases
my_data.isnull().sum()/len(my_data)*100

SKU        0.000000
BRANCH    19.960884
PRICE      0.000000
STOCK      0.000000
dtype: float64

In [14]:
#From above information, I can say that branch information is nor provided for 19.6% of data. Therefore,
#I decided to remove those null.

In [15]:
#Analyze null cases
BranchProductdataNullCases = my_data[my_data['BRANCH'].notnull()]

In [16]:
BranchProductdataNullCases

            SKU BRANCH  PRICE  STOCK
0        142308    HRO   45.6      3
1        223240   RHSM   15.3      5
2         49514   RHSM   56.7     -2
3        111807   RHSM   48.0     -4
4        223543     MS    8.7     -1
...         ...    ...    ...    ...
2296762  243017    HRO   73.2      4
2296763  185713     MS   85.5      2
2296764  296517   RHSM   59.4      3
2296765   52814     MS   23.7     -1
2296766  196940     MM    4.5      5

[1838312 rows x 4 columns]

In [17]:
#Filtering Branch data
BranchFilter = BranchProductdataNullCases.loc[BranchProductdataNullCases['BRANCH'].isin(['MM','RHSM'])]
set(BranchFilter['BRANCH'])

{'MM', 'RHSM'}

In [19]:
BranchFilter

            SKU BRANCH  PRICE  STOCK
1        223240   RHSM   15.3      5
2         49514   RHSM   56.7     -2
3        111807   RHSM   48.0     -4
13        22797   RHSM   32.4     -2
15        85778   RHSM   64.2      5
...         ...    ...    ...    ...
2296759  138725   RHSM   39.3     -1
2296760  291268   RHSM   26.4     -2
2296761  179043     MM   30.6     -4
2296764  296517   RHSM   59.4      3
2296766  196940     MM    4.5      5

[919119 rows x 4 columns]

In [20]:
#Now, I import another csv file.

In [21]:
product_data = pd.read_csv('/Users/yamanjoshi/Downloads/Project Spring 2025/archive/PRODUCTS.csv', sep = '|')

In [22]:
product_data

,SKU,BUY_UNIT,DESCRIPTION_STATUS,ORGANIC_ITEM,KIRLAND_ITEM,FINELINE_NUMBER,BARCODES,NAME,DESCRIPTION,IMAGE_URL,CATEGORY,SUB_CATEGORY,SUB_SUB_CATEGORY,BRAND
0,52572,UN,B,NaN,False,713115,693177767936,CANASTOS,<p>CANASTO CONEJO F1 A 1UN</p>,https://locahost:8000/images/693177767936?heig...,APPAREL,MENS WEAR,MEN - T-SHIRTS,PUPPY DOG PALS
1,278100,NaN,R,NaN,True,345827,399,LIMÃ“N COLIMA KG,<p>LIMÃ“N COLIMA KGÂ Â Â </p>,https://locahost:8000/images/399?height=500&wi...,ENTERTAINMENT,TOYS & HOBBIES,PELUCHES,ENTRECOT
2,27404,KG,B,NaN,True,134923,762230099043,CHICLES,<p>TRIDENT 6S SANDIA 9GR</p>,https://locahost:8000/images/762230099043?heig...,HARDLINES,AUTOMOTIVE,APARIENCIA AUTOMOVIL,SPURA
3,215143,UN,CD,Y,True,773663,7501199416236,JABON LIQUIDO PARA MANOS VITAMINA E,<p>JABON LIQUIDO PARA MANOS VITAMINA E 442 ML....,https://locahost:8000/images/7501199416236?hei...,HARDLINES,SEASONAL,SEASONAL - EASTER,CHAMYTO
4,85805,KG,CD,N,False,233313,8410113003119,VINO TINTO GRAN CORONAS TORRES 750,<p>VINO TINTO GRAN CORONAS TORRES 750 1 PZA</p>,https://locahost:8000/images/8410113003119?hei...,CONSUMABLES,HOUSEHOLD CHEMICALS,AIR FRESHENER-DEODORIZER,POOPSIE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321537,37542,UN,NaN,N,False,966232,698400300544,LOZA BASICA GRA,<p>TAZA CONSOME 280CC 1UN</p>,https://locahost:8000/images/698400300544?heig...,HARDLINES,HARDWARE,VENTILACION,HO DON CUSTODIO
321538,199851,NaN,R,Y,True,855034,7501199404301,DETERGENTE LIQUIDO COLOR,<p>DETERGENTE LIQUIDO COLOR 5 LT</p>,https://locahost:8000/images/7501199404301?hei...,GROCERY,DAIRY PRODUCTS,BUTTER-SUBSTITUTES,MADEMSA
321539,144269,NaN,R,Y,True,434058,7501006555752,2 SOBRES PALOMITAS + VALENTINA,<p>2 SOBRES PALOMITAS + VALENTINA 1 PZA</p>,https://locahost:8000/images/7501006555752?hei...,ENTERTAINMENT,ELECTRONICS,EQUIPOS DE AUDIO,DON JUAN
321540,312844,KG,B,NaN,True,305744,6971165068775,"CAMISA JORDACHE J, BLANCO, EG/XL","<p>CAMISA JORDACHE J, BLANCO, EG/XL</p>",https://locahost:8000/images/6971165068775?hei...,GROCERY,92 GROCERY,MILK-CREAM-SUBSTITUTES-SHELF,MEYER
321541,60891,UN,NaN,NaN,True,975067,40000695373,SOFA,<p>SOFA SOC T-PU CHOCO 1UN</p>,https://locahost:8000/images/40000695373?heigh...,MEAT & FISH,SEAFOOD,SEAFOOD - FISH,TAIWAN

In [23]:
product_data.head()

,SKU,BUY_UNIT,DESCRIPTION_STATUS,ORGANIC_ITEM,KIRLAND_ITEM,FINELINE_NUMBER,BARCODES,NAME,DESCRIPTION,IMAGE_URL,CATEGORY,SUB_CATEGORY,SUB_SUB_CATEGORY,BRAND
0,52572,UN,B,NaN,False,713115,693177767936,CANASTOS,<p>CANASTO CONEJO F1 A 1UN</p>,https://locahost:8000/images/693177767936?heig...,APPAREL,MENS WEAR,MEN - T-SHIRTS,PUPPY DOG PALS
1,278100,NaN,R,NaN,True,345827,399,LIMÃ“N COLIMA KG,<p>LIMÃ“N COLIMA KGÂ Â Â </p>,https://locahost:8000/images/399?height=500&wi...,ENTERTAINMENT,TOYS & HOBBIES,PELUCHES,ENTRECOT
2,27404,KG,B,NaN,True,134923,762230099043,CHICLES,<p>TRIDENT 6S SANDIA 9GR</p>,https://locahost:8000/images/762230099043?heig...,HARDLINES,AUTOMOTIVE,APARIENCIA AUTOMOVIL,SPURA
3,215143,UN,CD,Y,True,773663,7501199416236,JABON LIQUIDO PARA MANOS VITAMINA E,<p>JABON LIQUIDO PARA MANOS VITAMINA E 442 ML....,https://locahost:8000/images/7501199416236?hei...,HARDLINES,SEASONAL,SEASONAL - EASTER,CHAMYTO
4,85805,KG,CD,N,False,233313,8410113003119,VINO TINTO GRAN CORONAS TORRES 750,<p>VINO TINTO GRAN CORONAS TORRES 750 1 PZA</p>,https://locahost:8000/images/8410113003119?hei...,CONSUMABLES,HOUSEHOLD CHEMICALS,AIR FRESHENER-DEODORIZER,POOPSIE

In [28]:
product_data.dtypes

SKU                    int64
BUY_UNIT              object
DESCRIPTION_STATUS    object
ORGANIC_ITEM          object
KIRLAND_ITEM            bool
FINELINE_NUMBER        int64
BARCODES               int64
NAME                  object
DESCRIPTION           object
IMAGE_URL             object
CATEGORY              object
SUB_CATEGORY          object
SUB_SUB_CATEGORY      object
BRAND                 object
dtype: object

In [29]:
product_data['BUY_UNIT'] = product_data['BUY_UNIT'].astype('category')
product_data['DESCRIPTION_STATUS'] = product_data['DESCRIPTION_STATUS'].astype('category')
product_data['BRAND'] = product_data['BRAND'].astype('category')

In [30]:
product_data.select_dtypes(include = 'number').head()

      SKU  FINELINE_NUMBER       BARCODES
0   52572           713115   693177767936
1  278100           345827            399
2   27404           134923   762230099043
3  215143           773663  7501199416236
4   85805           233313  8410113003119

In [31]:
#Analyze null cases
product_data.isnull().sum()/len(product_data)*100

SKU                    0.000000
BUY_UNIT              33.303581
DESCRIPTION_STATUS    20.068296
ORGANIC_ITEM          33.330327
KIRLAND_ITEM           0.000000
FINELINE_NUMBER        0.000000
BARCODES               0.000000
NAME                   0.003732
DESCRIPTION            0.000000
IMAGE_URL              0.000000
CATEGORY               0.459038
SUB_CATEGORY           0.459038
SUB_SUB_CATEGORY       0.459038
BRAND                  0.041052
dtype: float64

In [32]:
Productdata2 = product_data[product_data['ORGANIC_ITEM'].isnull()]
Productdata2

,SKU,BUY_UNIT,DESCRIPTION_STATUS,ORGANIC_ITEM,KIRLAND_ITEM,FINELINE_NUMBER,BARCODES,NAME,DESCRIPTION,IMAGE_URL,CATEGORY,SUB_CATEGORY,SUB_SUB_CATEGORY,BRAND
0,52572,UN,B,NaN,False,713115,693177767936,CANASTOS,<p>CANASTO CONEJO F1 A 1UN</p>,https://locahost:8000/images/693177767936?heig...,APPAREL,MENS WEAR,MEN - T-SHIRTS,PUPPY DOG PALS
1,278100,NaN,R,NaN,True,345827,399,LIMÃ“N COLIMA KG,<p>LIMÃ“N COLIMA KGÂ Â Â </p>,https://locahost:8000/images/399?height=500&wi...,ENTERTAINMENT,TOYS & HOBBIES,PELUCHES,ENTRECOT
2,27404,KG,B,NaN,True,134923,762230099043,CHICLES,<p>TRIDENT 6S SANDIA 9GR</p>,https://locahost:8000/images/762230099043?heig...,HARDLINES,AUTOMOTIVE,APARIENCIA AUTOMOVIL,SPURA
12,9510,KG,NaN,NaN,True,686777,780413300603,HUEVO TRADICIONAL,<p>H.PRIMERA COLOR.12 12UN</p>,https://locahost:8000/images/780413300603?heig...,HOME,BEDDING,CAMA ACCESORIOS,IMPRECOO
21,191131,KG,B,NaN,False,938864,7501198350944,BEBIDA TE LIMON,<p>BEBIDA TE LIMON 473 ML.</p>,https://locahost:8000/images/7501198350944?hei...,BABY WORLD,INFANT SOFTLINES,BOTTOM,CASA LOBO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321532,141957,NaN,CD,NaN,False,215603,8033737232095,PIMIENTA NEGRA,<p>PIMIENTA NEGRA 80 GRS</p>,https://locahost:8000/images/8033737232095?hei...,HARDLINES,LAWN & GARDEN,MACETEROS,DELIA
321533,57936,UN,B,NaN,False,321437,40000680310,BERMUDA JEANS DENIM,<p>BERMUDA LINEA 2 1UN</p>,https://locahost:8000/images/40000680310?heigh...,GROCERY,DAIRY PRODUCTS,CREAM,SAN JOSE
321536,127410,UN,CD,NaN,True,285494,2502200000005,QUESO MOSARELLA ADOBADO,<p>QUESO MOSARELLA ADOBADO 0 NDF</p>,https://locahost:8000/images/2502200000005?hei...,APPAREL,SOCKS,LADY - CALCETINES,MY LITTLE BOUTIQUE
321540,312844,KG,B,NaN,True,305744,6971165068775,"CAMISA JORDACHE J, BLANCO, EG/XL","<p>CAMISA JORDACHE J, BLANCO, EG/XL</p>",https://locahost:8000/images/6971165068775?hei...,GROCERY,92 GROCERY,MILK-CREAM-SUBSTITUTES-SHELF,MEYER
321541,60891,UN,NaN,NaN,True,975067,40000695373,SOFA,<p>SOFA SOC T-PU CHOCO 1UN</p>,https://locahost:8000/images/40000695373?heigh...,MEAT & FISH,SEAFOOD,SEAFOOD - FISH,TAIWAN

In [36]:
# Define columns to fill
columns_to_fill = ['BUY_UNIT', 'DESCRIPTION_STATUS', 'ORGANIC_ITEM']

for col in columns_to_fill:
    if col in product_data.columns and pd.api.types.is_categorical_dtype(product_data[col]):
        
        # Add 'N/A' to the category list
        product_data[col] = product_data[col].cat.add_categories(['N/A'])
    
    # Now fill NaN values with 'N/A'
    product_data[col] = product_data[col].fillna('N/A')

In [37]:
product_data.isnull().sum()

SKU                      0
BUY_UNIT                 0
DESCRIPTION_STATUS       0
ORGANIC_ITEM             0
KIRLAND_ITEM             0
FINELINE_NUMBER          0
BARCODES                 0
NAME                    12
DESCRIPTION              0
IMAGE_URL                0
CATEGORY              1476
SUB_CATEGORY          1476
SUB_SUB_CATEGORY      1476
BRAND                  132
dtype: int64

In [39]:
product_data['DESCRIPTION'] = product_data['DESCRIPTION'].replace({'<p>':'','</p>':''},regex = True)
product_data

,SKU,BUY_UNIT,DESCRIPTION_STATUS,ORGANIC_ITEM,KIRLAND_ITEM,FINELINE_NUMBER,BARCODES,NAME,DESCRIPTION,IMAGE_URL,CATEGORY,SUB_CATEGORY,SUB_SUB_CATEGORY,BRAND
0,52572,UN,B,N/A,False,713115,693177767936,CANASTOS,CANASTO CONEJO F1 A 1UN,https://locahost:8000/images/693177767936?heig...,APPAREL,MENS WEAR,MEN - T-SHIRTS,PUPPY DOG PALS
1,278100,N/A,R,N/A,True,345827,399,LIMÃ“N COLIMA KG,LIMÃ“N COLIMA KG,https://locahost:8000/images/399?height=500&wi...,ENTERTAINMENT,TOYS & HOBBIES,PELUCHES,ENTRECOT
2,27404,KG,B,N/A,True,134923,762230099043,CHICLES,TRIDENT 6S SANDIA 9GR,https://locahost:8000/images/762230099043?heig...,HARDLINES,AUTOMOTIVE,APARIENCIA AUTOMOVIL,SPURA
3,215143,UN,CD,Y,True,773663,7501199416236,JABON LIQUIDO PARA MANOS VITAMINA E,JABON LIQUIDO PARA MANOS VITAMINA E 442 ML.,https://locahost:8000/images/7501199416236?hei...,HARDLINES,SEASONAL,SEASONAL - EASTER,CHAMYTO
4,85805,KG,CD,N,False,233313,8410113003119,VINO TINTO GRAN CORONAS TORRES 750,VINO TINTO GRAN CORONAS TORRES 750 1 PZA,https://locahost:8000/images/8410113003119?hei...,CONSUMABLES,HOUSEHOLD CHEMICALS,AIR FRESHENER-DEODORIZER,POOPSIE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321537,37542,UN,N/A,N,False,966232,698400300544,LOZA BASICA GRA,TAZA CONSOME 280CC 1UN,https://locahost:8000/images/698400300544?heig...,HARDLINES,HARDWARE,VENTILACION,HO DON CUSTODIO
321538,199851,N/A,R,Y,True,855034,7501199404301,DETERGENTE LIQUIDO COLOR,DETERGENTE LIQUIDO COLOR 5 LT,https://locahost:8000/images/7501199404301?hei...,GROCERY,DAIRY PRODUCTS,BUTTER-SUBSTITUTES,MADEMSA
321539,144269,N/A,R,Y,True,434058,7501006555752,2 SOBRES PALOMITAS + VALENTINA,2 SOBRES PALOMITAS + VALENTINA 1 PZA,https://locahost:8000/images/7501006555752?hei...,ENTERTAINMENT,ELECTRONICS,EQUIPOS DE AUDIO,DON JUAN
321540,312844,KG,B,N/A,True,305744,6971165068775,"CAMISA JORDACHE J, BLANCO, EG/XL","CAMISA JORDACHE J, BLANCO, EG/XL",https://locahost:8000/images/6971165068775?hei...,GROCERY,92 GROCERY,MILK-CREAM-SUBSTITUTES-SHELF,MEYER
321541,60891,UN,N/A,N/A,True,975067,40000695373,SOFA,SOFA SOC T-PU CHOCO 1UN,https://locahost:8000/images/40000695373?heigh...,MEAT & FISH,SEAFOOD,SEAFOOD - FISH,TAIWAN

In [40]:
if 'DESCRIPTION' in product_data.columns:
    product_data['DESCRIPTION'] = product_data['DESCRIPTION'].fillna('')

    # Apply np.select
    product_data['Package'] = np.select(
        [
            product_data['DESCRIPTION'].str.contains("UN", case=False, na=False),
            product_data['DESCRIPTION'].str.contains("KG", case=False, na=False),
            product_data['DESCRIPTION'].str.contains("LT", case=False, na=False),
            product_data['DESCRIPTION'].str.contains("PZA", case=False, na=False),
            product_data['DESCRIPTION'].str.contains("ML", case=False, na=False),
            product_data['DESCRIPTION'].str.contains("GRS", case=False, na=False),
        ],
        ['UN', 'KG', 'LT', 'PZA', 'ML', 'GRS'],
        default='N/A'
    )

In [41]:
del product_data['SUB_CATEGORY']
del product_data['SUB_SUB_CATEGORY']

In [43]:
product_data

,SKU,BUY_UNIT,DESCRIPTION_STATUS,ORGANIC_ITEM,KIRLAND_ITEM,FINELINE_NUMBER,BARCODES,NAME,DESCRIPTION,IMAGE_URL,CATEGORY,BRAND,Package
0,52572,UN,B,N/A,False,713115,693177767936,CANASTOS,CANASTO CONEJO F1 A 1UN,https://locahost:8000/images/693177767936?heig...,APPAREL,PUPPY DOG PALS,UN
1,278100,N/A,R,N/A,True,345827,399,LIMÃ“N COLIMA KG,LIMÃ“N COLIMA KG,https://locahost:8000/images/399?height=500&wi...,ENTERTAINMENT,ENTRECOT,KG
2,27404,KG,B,N/A,True,134923,762230099043,CHICLES,TRIDENT 6S SANDIA 9GR,https://locahost:8000/images/762230099043?heig...,HARDLINES,SPURA,N/A
3,215143,UN,CD,Y,True,773663,7501199416236,JABON LIQUIDO PARA MANOS VITAMINA E,JABON LIQUIDO PARA MANOS VITAMINA E 442 ML.,https://locahost:8000/images/7501199416236?hei...,HARDLINES,CHAMYTO,ML
4,85805,KG,CD,N,False,233313,8410113003119,VINO TINTO GRAN CORONAS TORRES 750,VINO TINTO GRAN CORONAS TORRES 750 1 PZA,https://locahost:8000/images/8410113003119?hei...,CONSUMABLES,POOPSIE,PZA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321537,37542,UN,N/A,N,False,966232,698400300544,LOZA BASICA GRA,TAZA CONSOME 280CC 1UN,https://locahost:8000/images/698400300544?heig...,HARDLINES,HO DON CUSTODIO,UN
321538,199851,N/A,R,Y,True,855034,7501199404301,DETERGENTE LIQUIDO COLOR,DETERGENTE LIQUIDO COLOR 5 LT,https://locahost:8000/images/7501199404301?hei...,GROCERY,MADEMSA,LT
321539,144269,N/A,R,Y,True,434058,7501006555752,2 SOBRES PALOMITAS + VALENTINA,2 SOBRES PALOMITAS + VALENTINA 1 PZA,https://locahost:8000/images/7501006555752?hei...,ENTERTAINMENT,DON JUAN,PZA
321540,312844,KG,B,N/A,True,305744,6971165068775,"CAMISA JORDACHE J, BLANCO, EG/XL","CAMISA JORDACHE J, BLANCO, EG/XL",https://locahost:8000/images/6971165068775?hei...,GROCERY,MEYER,N/A
321541,60891,UN,N/A,N/A,True,975067,40000695373,SOFA,SOFA SOC T-PU CHOCO 1UN,https://locahost:8000/images/40000695373?heigh...,MEAT & FISH,TAIWAN,UN

In [ ]:
#Branch information is not available for 19.96% of the record. 
#Upon analysis, we decided to remove those records as it did not give any significant insight to the data.

#BUY_UNIT is not available for 34% of the records. We have marked those records as Not Avaliable (N/A).

#DESCRIPTION_STATUS is not available for 20% of the records.We have marked those records as Not Avaliable (N/A).

#ORGANIC_ITEM is not available for 33% of the records.We have marked those records as Not Avaliable (N/A).

#We were able to findout Package information like 'UN','KG','LT','PZA','ML','GRS' from description.